/bin/
/dist/
*.exe
*.test
*.out
.idea/
.vscode/
reference/**/.git/
reference/**/.idea/
reference/**/target/
reference/**/gradle/
reference/**/*.l2j
reference/**/*.dat
reference/**/*.jpg
reference/**/gradlew
reference/**/gradlew.bat
reference/**/gradle-wrapper.jar
.env
/tmp/
